
/* common */
html, body {padding: 0; margin: 0; width: 100%; height: 100%; box-sizing: border-box; font-family: "Pretendard-Regular", "Pretendard-Medium", "Pretendard-ExtraLight", "Pretendard-Bold", 'Noto Sans KR', sans-serif;}
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
/* .content {padding: 0 20px;} */
.inner {max-width: 100%; margin: 96px auto 120px;}
.n_interval {margin: 0 -20px;}
.mo-only {display: none;}
.pc-only {display: block;}
.search_word {background-color: rgba(0, 255, 224, 0.4);}

/* title */
.tit_area {margin-bottom: 20px;}
.tit_area .tit {font-size: 32px; line-height: 42px; font-weight: 700; color: #1a1a1a; text-align: center;}

/* font-color */
.blue {color: #3b7cf3;}

/* star-list */
.star_list {margin-top: 20px;}
.star_list li {position: relative; padding-left: 16px; line-height: 24px; font-weight: 400; color: #000; opacity: .8;}
.star_list li::after {content: "*"; position: absolute; display: block; top: 0; left: 0;}

.hy_list {margin-top: 20px;}
.hy_list li {position: relative; padding-left: 16px; line-height: 24px; font-weight: 400; color: #000; opacity: .8;}
.hy_list li::after {content: "-"; position: absolute; display: block; top: 0; left: 0;}

.square_list {margin-top: 20px;}
.square_list li {position: relative; padding-left: 16px; line-height: 24px; font-weight: 400; color: #000; opacity: .8;}
.square_list li:after {content: "■"; position: absolute; display: block; top: 0; left: 0;}


/* flag & badge */
.flag {width: 24px; height: 24px; background-color: #fe2d53; border-radius: 50%;}
.flag span {display: block; font-size: 14px; line-height: 24px; color: #fff; text-align: center;}
.badge {font-size: 14px; line-height: 22px; font-weight: 700; color: #3b7cf3;}

/* btn */
.b_btn a {display: inline-block; padding: 16px 32px; font-size: 16px; line-height: 24px; font-weight: 700; color: #fff; background-color: #3b7cf3; border-radius: 81px;}
.b_btn a img {max-width: 100%; padding-right: 4px; vertical-align: middle;}
.w_btn a {display: inline-block; width: 179px; padding: 16px 0; font-size: 16px; line-height: 24px; font-weight: 700; color: #1a1a1a; text-align: center; border: 1px solid #ccc; border-radius: 81px;}
.w_btn a:hover {background-color: #f2f2f2;}
.more_btn a {display: inline-block; padding: 16px 59px; font-size: 16px; line-height: 24px; font-weight: 700; color: #1a1a1a; border: 1px solid #ccc; border-radius: 81px;}

/* search */
.search_wrap .list_nums {display: inline-block; font-size: 16px; line-height: 14px; font-weight: 700; color: #1a1a1a;}
.search_wrap .list_nums .count {color: #3b7cf3;}

.search_wrap {display: flex; flex-direction: column-reverse; margin-bottom: 20px; padding: 0 20px;}
.search_wrap .search_box {display: flex; justify-content: center; align-items: center; margin-bottom: 20px;}
.search_wrap .search_box .unit_box {position: relative; border: 1px solid #ccc; border-radius: 10px;}
.search_wrap .search_box .unit_box [type="search"] {padding: 3px 0 3px 19px; border-radius: 0; border: 0; background-color: transparent; width: 320px; font-size: 14px; line-height: 36px;}
.search_wrap .search_box .unit_box input:focus {outline: 1px solid #3b7cf3; border-radius: 10px; color: #1a1a1a;}
.search_wrap .search_box .unit_box [type="search"]::placeholder {font-size: 16px; font-weight: 500; color: #ccc; letter-spacing: -1px;}
.search_wrap .search_box .unit_box .search_btn {position: absolute; right: 18.3px; top: 10px; width: 24px; height: 24px; background-image: url(../img/common/ico_search_btn.png); background-color: transparent; background-repeat: no-repeat; background-position: center; border: 0; cursor: pointer;}
.search_wrap .search_box .unit_box [type="search"]::-ms-clear,
.search_wrap .search_box .unit_box [type="search"]::-ms-reveal {display: none;} 
.search_wrap .search_box .unit_box [type="search"]::-webkit-search-decoration,
.search_wrap .search_box .unit_box [type="search"]::-webkit-search-cancel-button,
.search_wrap .search_box .unit_box [type="search"]::-webkit-search-results-button,
.search_wrap .search_box .unit_box [type="search"]::-webkit-search-results-decoration {display: none;}



/* ******************************************** header ******************************************** */
#header {position: fixed; top: 0; left: 0; width: 100%; margin: 0 auto; background-color: #fff; z-index: 1000;}
#header .logo {padding-right: 20px;}
#header .logo img {max-width: 100%; vertical-align: middle;}
#header .header_inner {position: relative; display: flex; justify-content: space-between; align-items: center; max-width: 100%; margin: 0 auto; padding: 18px 20px;}
#header .gnb .gnb_list ul li a {position: relative; color: #000;}
#header .btn_back {width: 24px; height: 24px; background: url(../img/common/ico_back.png) no-repeat 100% 100% /100% auto;}
#header .btn_gnb {width: 24px; height: 24px; background: url(../img/common/ico_menu.png) no-repeat 100% 100% /100% auto;}

/* pop-layer */
.dim_layer {margin-top: 80px; display: none;}
.dim_layer .pop_cont {padding: 0 20px;}
.dim_layer .gnb {margin-bottom: 170px;}
.dim_layer .gnb .gnb_list ul li {margin-bottom: 28px;}
.dim_layer .gnb .gnb_list ul li a {display: block; font-size: 24px; line-height: 36px; font-weight: 700; color: #1a1a1a;}
.dim_layer .gnb .gnb_list ul li a img {padding-right: 12px; vertical-align: middle;}
.dim_layer .gnb_sns ul {display: flex;}
.dim_layer .gnb_sns ul li {padding-right: 10px;}
.dim_layer .gnb_sns ul li:last-child {padding-right: 0;}
.dim_layer .btn_close {position: absolute; top: 18px; right: 20px; width: 24px; height: 24px; background: url(../img/common/ico_close.png) no-repeat 100% 100% / 100% auto; z-index: 1000;}


/* ******************************************** footer ******************************************** */
#footer {margin: 0 auto; width: 100%; background-color: #f4f5fa;}
#footer .footer_inn {padding: 60px 55px; margin: 0 auto; max-width: 100%;}
#footer .footer_cont {padding-bottom: 80px; text-align: center;}
#footer .footer_cont p {margin-bottom: 20px; font-size: 32px; line-height: 42px; font-weight: 700;}
#footer .footer_info {display: flex; flex-direction: column; text-align: center;}
#footer .footer_info .footer_left {display: flex; flex-direction: column; margin-bottom: 32px;}
#footer .footer_info .footer_left .footer_logo {max-width: 100%; margin-bottom: 20px;}
#footer .footer_info .footer_left img {max-width: 100%;}
#footer .footer_info .footer_left p {font-size: 14px; line-height: 22px; font-weight: 500; color: #333;}
#footer .footer_info  copy {font-size: 14px; line-height: 22px; font-weight: 500; color: #999;}
#footer .footer_info .footer_left span {padding: 0 11px; color: #000; opacity: .3;}



/* ******************************************** Responsive-320 ******************************************** */
@media (max-width: 320px) {
    /* common */
    .mo-only {display: block;}
    .pc-only {display: none;}

    /* search */
    .search_wrap .search_box .unit_box [type="search"] {width: 290px;}


    /* ******************************************** footer ******************************************** */
    #footer .footer_info .footer_left span {display: none;}
}

