
/* ******************************************** notice ******************************************** */
.notice_wrap .event {margin-bottom: 40px;}
.notice_wrap .event img {width: 100%; max-width: 100%; vertical-align: middle;}
.notice_wrap .event .event_txt p {margin-bottom: 32px; font-size: 36px; line-height: 48px; font-weight: 700; color: #fff;}
.notice_wrap .event .event_txt span {font-size: 20px; line-height: 24px; font-weight: 500; color: #fff;}

.notice_wrap .list_type_table table {table-layout: fixed; width: 100%; vertical-align: middle; margin-bottom: 32px; border-top: 1px solid #1a1a1a;}
.notice_wrap .list_type_table table .fixed {background-color: rgba(59, 124, 243, 0.05);}
.notice_wrap .list_type_table table .badge {line-height: 24px; text-align: left;}
.notice_wrap .list_type_table table td {padding: 25px 40px 25px 20px; vertical-align: middle; border-top: 1px solid #ddd;}
.notice_wrap .list_type_table table tr:last-child td {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.notice_wrap .list_type_table table .title {display: block; padding-left: 0; max-width: 100%; font-size: 16px; color: #1a1a1a; line-height: 24px; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.notice_wrap .list_type_table table .new .title {font-weight: 700; vertical-align: middle;}
.notice_wrap .list_type_table table .new {display: flex; align-items: center;}
.notice_wrap .list_type_table table .new .flag {margin-right: 6px;}
.notice_wrap .list_type_table table .date {display: inline-block; font-size: 14px; line-height: 24px; color: #a0a0a0; font-weight: 500; text-align: right;}
.notice_wrap .btn_wrap {text-align: center;}
/* 게시글이 없을 경우 */
.notice_list.n_none table {width: 100%;}
.notice_list.n_none table td {width: 100%; padding: 80px 0 100px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center;}
.notice_list.n_none table td p {font-size: 16px; line-height: 24px; font-weight: 500; color: #999;}
.notice_list.n_none table .fixed td {padding: 25px 40px 25px 20px; text-align: left;}


/* notice-view */
.noti_view_wrap .detail_tit_wrap {padding: 0 20px; margin-bottom: 32px; border-bottom: 1px solid #ddd;}
.noti_view_wrap .detail_tit_wrap .detail_tit {display: block; margin-top: 14px; font-size: 24px; line-height: 36px; font-weight: 700; color: #1a1a1a;}
.noti_view_wrap .detail_tit_wrap .detail_date {display: block; margin: 16px 0 32px; font-size: 14px; line-height: 22px; font-weight: 500; color: #999;}
.noti_view_wrap .detail_cont_wrap .detail_cont_txt {padding: 0 20px; margin-bottom: 100px; font-size: 16px; line-height: 24px; font-weight: 500; color: #333;}

.noti_view_wrap .detail_sns {margin-bottom: 40px;}
.noti_view_wrap .detail_sns ul {display: flex; justify-content: center;}
.noti_view_wrap .detail_sns ul li {padding-left: 10px;}

.noti_view_wrap .preview_list_wrap .list_type_table table {table-layout: fixed; width: 100%; vertical-align: middle; margin-bottom: 32px;}
.noti_view_wrap .preview_list_wrap .list_type_table table td {padding: 24px 0 24px 20px; vertical-align: middle; border-top: 1px solid #ddd;}
.noti_view_wrap .preview_list_wrap .list_type_table table tr:last-child td {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.noti_view_wrap .preview_list_wrap .list_type_table table .division {font-size: 14px; line-height: 22px; font-weight: 500; color: #999; vertical-align: inherit;}
.noti_view_wrap .preview_list_wrap .list_type_table table .title {display: inline-block; font-size: 16px; color: #1a1a1a; line-height: 24px; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.noti_view_wrap .preview_list_wrap .list_type_table table .title.n_txt {display: inline-block; font-size: 16px; color: #999; line-height: 24px; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.noti_view_wrap .preview_list_wrap .list_type_table table .date {display: block; font-size: 14px; line-height: 22px; color: #a0a0a0; font-weight: 500;}
.noti_view_wrap .btn_wrap {text-align: center;}


/* event-view */
.event_view_wrap .detail_tit_wrap {padding: 0 20px; margin-bottom: 32px; border-bottom: 1px solid #ddd;}
.event_view_wrap .detail_tit_wrap .detail_tit {display: block; margin-top: 14px; font-size: 24px; line-height: 36px; font-weight: 700; color: #1a1a1a;}
.event_view_wrap .detail_tit_wrap .detail_date {display: block; margin: 16px 0 32px; font-size: 14px; line-height: 22px; font-weight: 500; color: #999;}

.event_view_wrap .detail_cont_wrap .detail_cont_img {margin-bottom: 32px; text-align: center;}
.event_view_wrap .detail_cont_wrap .detail_cont_img img {width: 100%; max-width: 100%;}
.event_view_wrap .detail_cont_wrap .detail_cont_txt {padding: 0 20px; margin-bottom: 100px; font-size: 16px; line-height: 24px; font-weight: 500; color: #333;}

.event_view_wrap .detail_sns {margin-bottom: 40px;}
.event_view_wrap .detail_sns ul {display: flex; justify-content: center;}
.event_view_wrap .detail_sns ul li {padding-left: 10px;}

.event_view_wrap .preview_list_wrap .list_type_table table {table-layout: fixed; width: 100%; vertical-align: middle; margin-bottom: 32px;}
.event_view_wrap .preview_list_wrap .list_type_table table td {padding: 24px 0 24px 20px; vertical-align: middle; border-top: 1px solid #ddd;}
.event_view_wrap .preview_list_wrap .list_type_table table tr:last-child td {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.event_view_wrap .preview_list_wrap .list_type_table table .division {font-size: 14px; line-height: 22px; font-weight: 500; color: #999; vertical-align: inherit;}
.event_view_wrap .preview_list_wrap .list_type_table table .title {display: inline-block; font-size: 16px; color: #1a1a1a; line-height: 24px; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.event_view_wrap .preview_list_wrap .list_type_table table .title.n_txt {display: inline-block; font-size: 16px; color: #999; line-height: 24px; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.event_view_wrap .preview_list_wrap .list_type_table table .date {display: block; font-size: 14px; line-height: 22px; color: #a0a0a0; font-weight: 500;}
.event_view_wrap .btn_wrap {text-align: center;}


/* ******************************************** FAQ ******************************************** */
.faq_wrap .accordion {margin-bottom: 32px; border-bottom: 1px solid #ddd;}
.faq_wrap .acc_wrap.active .acc_cont {height: 100%;}
.faq_wrap .acc_wrap {width: 100%; margin: 0 auto;}
.faq_wrap .acc_wrap .acc_tit {position: relative; display: flex; align-items: flex-start; flex-direction: column; padding: 24px 20px; border-top: 1px solid #ddd;}
.faq_wrap .acc_wrap .acc_tit:after {content: ""; position: absolute; top: 42%; right: 24px; width: 8px; height: 8px; border-top: 2px solid #999; border-right: 2px solid #999; transform: rotate(135deg);}
.faq_wrap .acc_wrap .acc_tit.active {align-items: flex-start; padding: 24px 20px 22px; background-color: #fafafa;}
.faq_wrap .acc_wrap .acc_tit.active:after {content: ""; position: absolute; top: 42%; right: 20px; width: 9px; height: 9px; border-top: 2px solid #1a1a1a; border-right: 2px solid #1a1a1a; transform: rotate(315deg);}
.faq_wrap .acc_wrap .acc_tit .tit_wrap {display: flex; align-items: center;}
.faq_wrap .acc_wrap .acc_tit.active .tit_wrap {align-items: flex-start;}
.faq_wrap .acc_wrap .acc_tit .que_q {display: block; font-size: 18px; line-height: 28px; color: #1a1a1a; font-weight: 500;}
.faq_wrap .acc_wrap .acc_tit .badge {padding-right: 32px; text-align: left;}
.faq_wrap .acc_wrap .acc_tit .que_txt {display: inline-block; margin-right: 20px; padding-left: 8px; width: 258px; font-size: 16px; line-height: 24px; color: #1a1a1a; font-weight: 500; white-space: nowrap; word-break: keep-all; -webkit-line-clamp: 1; letter-spacing: 0; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.faq_wrap .acc_wrap .acc_tit.active .que_txt {white-space: normal; overflow: inherit;}
.faq_wrap .acc_wrap:first-of-type .acc_tit {border-top: 1px solid #1a1a1a;}
.faq_wrap .acc_wrap .acc_cont {display: none; padding: 0 20px 24px 20px; background-color: #fafafa;}
.faq_wrap .acc_wrap .acc_cont.active {display: block; border-top: 0;}
.faq_wrap .acc_wrap .acc_cont .an_wrap {display: flex;}
.faq_wrap .acc_wrap:last-of-type .acc_cont {border-top: none; border-bottom: 1px solid #ddd;}
.faq_wrap .acc_wrap .acc_cont .an_a {font-size: 18px; line-height: 28px; color: #666; font-weight: 700;}
.faq_wrap .acc_wrap .acc_cont .an_txt {width: 258px; padding-left: 8px; margin-right: 20px; font-size: 16px; line-height: 24px; color: #1a1a1a; font-weight: 700;}

.faq_wrap .notice_list.n_none table td {padding: 80px 0 100px; text-align: center;}
.faq_wrap .notice_list.n_none table td p {margin-top: 16px;}
.faq_wrap .notice_list.n_none table .fixed td {padding: 40px 32px 40px 24px; text-align: left;}

.faq_wrap .tab_wrap {margin-bottom: 40px;}
.faq_wrap .tab_wrap ul {display: flex; justify-content: center; padding-left: 20px;}
.faq_wrap .tab_wrap li {padding-right: 8px; overflow: hidden;}
.faq_wrap .tab_wrap li:last-child {padding-right: 0;}
.faq_wrap .tab_wrap li a {display: block; padding: 9px 24px; font-size: 16px; line-height: 24px; font-weight: 700; color: #999; background-color: #f5f5f5; border-radius: 81px;}
.faq_wrap .tab_wrap li a:hover,
.faq_wrap .tab_wrap ul li.on .tab_btn {color: #fff; background-color: #1a1a1a;}
.faq_wrap .tab_cont {display: none;}
.faq_wrap .tab_cont.on {display: block;}

.faq_wrap .btn_wrap {margin-top: 32px; text-align: center;}

.faq_wrap .txt_box {display: flex; align-items: center; flex-direction: column; margin: 60px 20px 0; padding: 40px 31px; text-align: center; background-color: #fafafa; border-radius: 20px;}
.faq_wrap .txt_box p {margin-bottom: 20px; font-size: 16px; line-height: 24px; color: #1a1a1a; font-weight: 700;}
.faq_wrap .txt_box a {display: block; width: 141px; padding: 12px 0; font-size: 16px; line-height: 24px; font-weight: 700; color: #3b7cf3; background-color: #fff; border: 1px solid #ddd; border-radius: 81px;}
.faq_wrap .txt_box a img {width: 14px; height: 14px; padding-right: 6px; vertical-align: middle;}
 